@import '../../assets/styles/variables.scss';

#page-teacher-list {
  width: 100vw;
  height: 100vh;

  main {
    margin: 3.2rem auto;
    width: 90%;
  }
}

// Formulário
#search-teachers {
  margin-top: 3.2rem;

  label {
    color: $color-text-in-primary;
  }

  button {
    width: 100%;
    height: 5.6rem;
    background: $color-secondary;
    color: $color-button-text;
    border: 0;
    outline: none;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 3.2rem;
    transition: all 0.25s ease;

    svg {
      margin-right: 0.8rem;
    }

    &:hover {
      background: $color-secondary-dark;
    }

    &:disabled {
      background: $color-secondary-dark;
      cursor: initial;
    }
  }
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;

    main {
      padding: 3.2rem 0;
      max-width: 740px;
      margin: 0 auto;
    }
  }

  #search-teachers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    position: absolute;
    bottom: -28px;

    .input-block + .input-block,
    .select-block + .select-block {
      margin-top: 0;
    }
  }
}
